CONFIG_DEVEL=y
CONFIG_CCACHE=y
#
# WiFi driver
CONFIG_PACKAGE_kmod-rt2800-usb=y
#
# LibreMesh
CONFIG_PACKAGE_lime-docs=y
CONFIG_PACKAGE_check-date-http=y
CONFIG_PACKAGE_lime-app=y
CONFIG_PACKAGE_lime-debug=y
CONFIG_PACKAGE_lime-hwd-ground-routing=y
CONFIG_PACKAGE_lime-hwd-openwrt-wan=y
CONFIG_PACKAGE_lime-proto-anygw=y
CONFIG_PACKAGE_lime-proto-babeld=y
CONFIG_PACKAGE_lime-proto-batadv=y
CONFIG_PACKAGE_shared-state-babeld_hosts=y
CONFIG_PACKAGE_shared-state-bat_hosts=y
CONFIG_PACKAGE_shared-state-nodes_and_links=y
CONFIG_FEED_libremesh=n
CONFIG_FEED_profiles=n
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_ppp=n
CONFIG_PACKAGE_wpad-mesh-wolfssl=y
CONFIG_PACKAGE_wpad-basic=n

